@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    text-align: center;
}
.index{
    background-color: #ffffff;
    margin: 0;
}
nav{
    margin-bottom: 40px;
}
.article > h1{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(35, 155, 11);
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    color: rgb(35, 155, 11);
}

p{
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgb(35, 155, 11);
}

.nav{
    background-color: #31af12;
}
img{
    width: 100%;
    
}